<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32011" type="text" id="lastusedzip" value="" visible="false"></setting>
        <setting label="32011" type="text" id="lastusedpreset" value="" visible="false"></setting>
        <setting label="32011" type="text" id="lastusedaddons" value="" visible="false"></setting>
    </category>
</settings>
